<div class="row title left">
	<div class="col s12">
		Editando Administrador
	</div>
</div>
<div class="row description left">
	<div class="col s12">
		Altere os dados do administrador
	</div>
</div>

<%= render 'form', admin: @admin %>