<div class="row title left">
	<div class="col s12">
		Adicionar Administrador
	</div>
</div>
<div class="row description left">
	<div class="col s12">
		Preencha os dados do administrador
	</div>
</div>

<div class="row"></div>

<%= render 'form', admin: @admin %>