<div class="row title left">
	<div class="col s12">
		Novo Estudante
	</div>
</div>
<div class="row description left">
	<div class="col s12">
		Preencha os dados do aluno
	</div>
</div>

<%= render 'form', student: @student %>
