<p>Olá, <%= @resource.name %>!</p>

<p>Alguém solicitou um link para a alteração da sua senha. Você pode realizar a alteração pelo link abaixo.</p>

<p><%= link_to 'Mude sua senha', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Caso não a tenha solicitado, por favor ignore este email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
